  .title {
    color: white;
    margin-bottom: 40px;
  }
  
  .itemscharts {
    text-align : center;
    color : white;
    }

  .itemschartsactions{
    text-align : center;
    color : white;
    }
  .table{
    margin-top : 20px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid gray;
    text-align: center;
    }
  
  .table{
    margin-top: 50px;
  }

  .cellulechartscapital{
    width: auto;
  }

