  .title {
    color: white;
    margin-bottom: 40px;
  }
  
  .itemscharts, .itemschartsactions {
    text-align : center;
    color : white;
    }

  .table{
    margin-top : 20px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid gray;
    text-align: center;
    }
  
  .table{
    margin-top: 50px;
  }

  .cellulechartscapital{
    width: auto;
  }

  @media screen and (max-width:1000px) {
  .body{
    font-size: 14px;
  }

  .itemscharts, .itemschartsactions{
    font-size: 16px;
  }
  }


