.container{
  margin-top: 50px;
}
    
.deposit {
  font-size: 15px;
}

.cellulecharts, .cellulechartscapital, .cellulechartsboutons{
  border: none;
}

.items{
  color: white;
}
.percentage{
  margin-top: 40px;
  padding-top: 10px;
  background-color: #111827;
  color: white;
  border: 1px solid #8884d8;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width:1000px) {
  .percentage{
   margin: 0px;
   margin-top: 30px;
   font-size: 15px;
  }

}