.Auth-form-calculator {
    box-shadow: #8884d8 5px 5px 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 8px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
  }
  
  .Auth-form-content-calculator {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title-calculator {
    text-align: center;
    margin-bottom: 2em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  .celluleearn{
    color: green;
    padding-top: 5px;
    font-size: 13px;
  }

  .celluleabove{
    color: white;
    background-color: green;
    padding-top: 5px;
    font-size: 13px;
  }

  .listecalculator{
    width: 100%;
    padding-top: 80px;
    text-align: center;
  }

  .tablecalculator{
    width: 100%;
    font-weight: bold;
  }

  .goal{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #111827;
    border: 1px solid #8884d8;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .calculatorchart{
    padding-top: 50px;
  }

  @media screen and (max-width:1000px) {
    .Auth-form-calculator {
    width: 100%; 
    margin-left: 0%;
    margin-top: 50px;
    }
    .featuredItem{
     margin : 10px 10px;
    }
    .celluleearn {
      font-size: 10px;
    }

    .celluleabove{
      font-size: 10px;
    }
    .lastLine
    {
      font-size: 13px;
    }
    .goal{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      font-size: 12px;
    }
  }

