.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
    flex: 1 ;
    margin: 0px 20px;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
    background-color: #111827;
    border: 2px solid #8884d8;
    border-top: purple ;
    border-left: purple ;
    border-right: purple ;
    color : white;
  }
  
@media screen and (max-width:1000px) {
    .featured {
     flex-direction: column;
    }
    .featuredItem{
     margin : 10px 10px;
    }
    .featuredMoneyRate{
        font-size: 15px;
    }
  }



.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIconnegative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}

.logobase{
    margin-left: 150px;
}