.Auth-form {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 2%;
  border-radius: 8px;
  background-color: white;
  align-content: center;
  height: 340px;
}

.login{

  display: flex;
  flex-direction: column;
}

.fill{
  height: 400px;
  width: 100%;
}

.createAccountLink{
  color: blue;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.createaccount{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0%;
}