.App{
    display: flex;
    background-color: black;
    width: 100%;
}

.container{
    width: 100%;
    padding-top: 100px;
    height: 100%;
    margin-bottom: 200px;
}

@media screen and (max-width:1000px) {
    .container {
     padding-top: 20px;
    }


  }