.App{
    display: flex;
    background-color: black;
}

.container{
    width: 100%;
    padding-top: 100px;
    height: 1500px;
}

@media screen and (max-width:1000px) {
    .container {
     padding-top: 20px;
     height: 2000px;
    }


  }