.listcontainer{
margin-top : 100px;
color : #111827;
margin-bottom: 300px;

}

.table{
    background-color: #111827;
}

.items {
text-align : center;
color : #111827;
}
.table{
margin-top : 20px;
font-size: 18px;
font-weight: 600;
border: 1px solid #111827;
}

.title{
text-align : center;
}


.items1
{
    width: 300px;
    color: #111827;
    text-align: center;
}

.pourcentagebenef{
   font-size: 14px;
   
}

.up {
    color: green;
    font-size: 14px;
}

.down{
    color: red;
    font-size: 14px;
}

.celluleboutons{
    background-color: red;
}
.cellule{
    margin-top: 100px;
}

.btn.btn-info{
    background-color: white;
    border: none;
}
.btn.btn-info:hover{
    background-color: white;
    border: none;
}
