.listcontainer{
margin-top : 0px;
color : #111827;
margin-bottom: 50px;
padding-bottom: 100px;
}

.items {
text-align : center;
color : white;
}
.table{
margin-top : 20px;
font-size: 18px;
font-weight: 600;
}

.test3{
    font-size: 17px;
}

.title{
text-align : center;
}


.items1
{
    color: white;
}

.pourcentagebenef{
   font-size: 14px;
   
}

.up {
    color: green;
    font-size: 14px;
}

.down{
    color: red;
    font-size: 14px;
}

.celluleboutons{
    width: 15%;
}
.cellule{
    margin-top: 100px;
}

.btn.btn-info{
    background-color: white;
    border: none;
}
.btn.btn-info:hover{
    background-color: white;
    border: none;
}

@media screen and (max-width:1400px) {
    .test3{
        font-size: 13px;
    }
    .cellule{
        font-size: 13px;
    }
    span{
        font-size: 13px;
    }
    .celluleboutons{
        display: flex;
    }

  }

  @media screen and (max-width:1000px) {
    .test3{
        font-size: 10px;
    }
    .cellule{
        font-size: 10px;
    }
    .celluleboutons{
        display: flex;
    }
    th.items1{
        width: 20px;
    }
    .listcontainer{
        width: 100%;
    }

    span{
        font-size: 10px;
    }


  }
