.head{
    font-size: 17px;
}
.tableinvestments{
    box-shadow: #8884d8 1px 1px 5px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
}


.body{
    background-color: #111827;
    color: white;
    font-size: 18px;
}
.title{
text-align : center;
}

.pourcentagebenef{
   font-size: 14px;
   
}

.up {
    color: green;
    font-size: 14px;
}

.down{
    color: red;
    font-size: 14px;
}

@media screen and (max-width:1400px) {
    .head{
        font-size: 13px;
    }
    .cellule ,.cellulebenefice{
        font-size: 13px;
    }
    span{
        font-size: 10px;
    }
  }

  @media screen and (max-width:1000px) {
    .head{
        font-size: 14px;
    }
    .cellule ,.cellulebenefice{
        font-size: 14px;
    }
    .listcontainer{
        width: 100%;
    }
    span{
        font-size: 10px;
    }
    .items{
        font-size: 14px;
    }
  }

  @media screen and (max-width:440px) {
  .celluleboutons{
    display: flex;
}

  }